<div>
  <h1 class="h1">Here some products are available</h1>
</div>

<h1>Category : Beauty</h1>
<div class="carousel--1">
  <div class="container">
    <div class="d-flex">
        @for(item of productList; track item.id){
          @if(item.category === 'beauty'){
              <app-product [item]="item"></app-product>
          }
        }
     </div>
  </div>
</div>

<h1>Category : Fragrances</h1>
<div class="carousel--1">
  <div class="container">
    <div class="d-flex">
        @for(item of productList; track item.id){
          @if(item.category === 'fragrances'){
            <app-product [item]="item"></app-product>
          }
        }
     </div>
  </div>
</div>

<h1>Category : Furniture</h1>
<div class="carousel--1">
  <div class="container">
    <div class="d-flex">
        @for(item of productList; track item.id){
          @if(item.category === 'furniture'){
            <app-product [item]="item"></app-product>
          }
        }
     </div>
  </div>
</div>

<h1>Category : Groceries</h1>
<div class="carousel--1">
  <div class="container">
    <div class="d-flex">
        @for(item of productList; track item.id){
          @if(item.category === 'groceries'){
            <app-product [item]="item"></app-product>
          }
        }
     </div>
  </div>
</div>


<!-- <div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      @for(item of productList; track item.id){
        @if(item.id == 1){
          <div class="carousel-item active">
            <app-product [item]="item"></app-product>
          </div>
        } 
        @else {
          <div class="carousel-item">
            <app-product [item]="item"></app-product>
          </div>
        }
        
      }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->