.carousel--1{
    width: 90%;
    overflow-x: scroll;
    scrollbar-width: thin;
    margin: auto;
    margin-bottom: 10%;
}

.card{
    background-color: rgb(209, 231, 223);
}

h1{
    margin-left: 10%;
}
.h1{
    color: blue;
}